.icon-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  gap: 4px;
  position: relative;
}

.server-icon {
  width: 52px;
  height: 52px;
  border-radius: 25px;
  background-color: rgb(54, 57, 63);
  transition: all 200ms ease-in-out;
}

.server-icon:hover {
  border-radius: 15px;
  transition: all 200ms ease-in-out;
}

.icon-wrapper .select-indicator.selected + img {
  border-radius: 15px;
}
/*selection indicator effects*/
.select-indicator {
  border: 3px solid transparent;
  height: 10px;
  border-radius: 5px;
  justify-self: flex-start;
  position: relative;
  top: 15px;
  right: 2px;

}

.select-indicator.selected {
  border: 3px solid white;
  height: 30px;
  top: 6px;
  transition: all 250ms ease-in;
}

.icon-wrapper:hover .select-indicator:not(.select-indicator.selected, .server-add:hover .select-indicator) {
  border: 3px solid white;
  height: 15px;
  transition: all 250ms ease-in;
  top: 15px;
}

/*.server-add button color effect*/
.server-add .server-icon:hover {
  border-radius: 15px;
  transition: all 200ms ease-in-out;
  background-color: rgb(59, 165, 93);
}

/*server-freinds button effects */
.server-friends .server-icon:hover {
  border-radius: 15px;
    transition: all 200ms ease-in-out;
    background-color: rgb(88, 101, 242);
}

.server-friends .select-indicator.selected + img{
  background-color: rgb(88, 101, 242);
  border-radius: 15px;
}