.icon-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  gap: 6px;
  position: relative;
}

.server-icon {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: rgb(54, 57, 63);
}

.select-indicator {
  border: 2px solid transparent;
  height: 30px;
  border-radius: 2px;
  justify-self: flex-start;
  position: relative;
  top: 5px;
  right: 1px;
}

.select-indicator.selected {
  border: 2px solid white;
}

.server-icon:hover {
  border-radius: 15px;
  transition: all 200ms ease-in-out;
}